$links-color: black;


$inicio-color: #18181d;
$inicio_text-color:#eae6ca;

$tendencia-color:#caf8d8;
$tendencia_text-color:#003a2d;

$artista-color: #fcdfcd;
$artista_text-color: #224e5a;
$artista_card-color: #f9bd98;

$bandas-color: #e3e1dc;
$bandas_text-color: #224e5a;